@font-face {
  font-family: 'icons-gosto';
  src:  url('../fonts/icons-gosto.eot?vx6wqe');
  src:  url('../fonts/icons-gosto.eot?vx6wqe#iefix') format('embedded-opentype'),
    url('../fonts/icons-gosto.ttf?vx6wqe') format('truetype'),
    url('../fonts/icons-gosto.woff?vx6wqe') format('woff'),
    url('../fonts/icons-gosto.svg?vx6wqe#icons-gosto') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-gosto' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\e913";
}
.icon-twitter1:before {
  content: "\e914";
}
.icon-down-arrow:before {
  content: "\e912";
}
.icon-big-skype-logo:before {
  content: "\e900";
}
.icon-shopping-bag:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-apple:before {
  content: "\e904";
}
.icon-checked:before {
  content: "\e905";
}
.icon-google-play:before {
  content: "\e906";
}
.icon-headphones:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-left-arrow:before {
  content: "\e90a";
}
.icon-loupe:before {
  content: "\e90b";
}
.icon-right-align:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
}
.icon-twitter-1:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e911";
}
